.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

@-webkit-keyframes bounce {
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: #222831;
}

.spacer {
  width: 100%;
  height: 70px;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #2d3138;
  z-index: 100;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2d3138;
  height: 70px;
}

.nav__logo {
  margin: auto 0;
  padding: 0 1em;
  font-size: 2rem;
  text-decoration: none;
  color: #eeeeee;
  z-index: 100;
}

.nav__logo i {
  color: #00adb5;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav__items {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #2d3138;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.nav__items--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  position: relative;
  text-decoration: none;
  color: #eeeeee;
  font-size: 2rem;
  padding: 0.5em 2em;
  margin: 1em 0;
}

.nav__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #00adb5;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  content: '';
}

.nav__item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.burger-btn {
  margin: 1rem 1rem;
  padding: 1rem;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 100;
}

.burger-btn:focus {
  outline: none;
  border: 1px solid #eeeeee;
  border-radius: 8px;
}

.burger-btn__box {
  position: relative;
  width: 35px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #eeeeee;
}

.burger-btn__bars {
  -webkit-transition: background-color .1s .15s;
  transition: background-color .1s .15s;
}

.burger-btn__bars::after {
  top: 10px;
  -webkit-transition: -webkit-transform .2s .15s;
  transition: -webkit-transform .2s .15s;
  transition: transform .2s .15s;
  transition: transform .2s .15s, -webkit-transform .2s .15s;
}

.burger-btn__bars::before {
  bottom: 10px;
  -webkit-transition: -webkit-transform .2s .15s;
  transition: -webkit-transform .2s .15s;
  transition: transform .2s .15s;
  transition: transform .2s .15s, -webkit-transform .2s .15s;
}

.burger-btn--active .burger-btn__bars {
  background-color: transparent;
}

.burger-btn--active .burger-btn__bars::after {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

.burger-btn--active .burger-btn__bars::before {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1rem;
}

.header__first-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eeeeee;
}

.header__title {
  padding: 1em 0;
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
}

.header__text {
  padding: .5em 0 2.5em;
  font-size: 1.6rem;
  text-align: center;
}

.header__call {
  margin: 0 auto;
  padding: 1em 0 1.5em;
}

.header__call i {
  font-size: 3rem;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  color: #00adb5;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: bounce 2s 1s linear infinite;
          animation: bounce 2s 1s linear infinite;
}

.header__second-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__img {
  width: 90%;
}

@media (min-width: 576px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4rem 1rem;
  }
  .header__first-half {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 2rem;
  }
  .header__title {
    text-align: left;
    font-size: 2.6rem;
  }
  .header__text {
    text-align: left;
    font-size: 1.8rem;
  }
  .header__call i {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .nav__logo {
    font-size: 2.4rem;
  }
  .nav__items {
    position: unset;
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: none;
    transition: none;
  }
  .nav__item {
    font-size: 1.6rem;
    padding: 0.5em 1em;
    margin: 1em 1em;
  }
  .burger-btn {
    display: none;
  }
}

@media (min-width: 992px) {
  .header__title {
    font-size: 3rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__call i {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 6rem 1rem;
  }
  .header__title {
    font-size: 3.4rem;
  }
  .header__text {
    font-size: 2.4rem;
  }
  .header__call i {
    font-size: 4rem;
  }
  .header__img {
    min-width: 360px;
  }
}
/*# sourceMappingURL=main.css.map */