.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 4em 2em;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #eeeeee;
}

.section-heading::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  bottom: -.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #00adb5;
}

.highlight {
  color: #00adb5;
}

@media (min-width: 768px) {
  .section-padding {
    padding: 6em 2em;
  }
  .section-heading {
    font-size: 2.6rem;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .section-heading {
    font-size: 2.8rem;
  }
}

@-webkit-keyframes bounce {
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: #222831;
}

.spacer {
  width: 100%;
  height: 7rem;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #2d3138;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  z-index: 100;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2d3138;
  height: 7rem;
}

.nav__logo {
  margin: auto 0;
  padding: 0 1em;
  font-size: 2rem;
  text-decoration: none;
  color: #eeeeee;
  z-index: 100;
}

.nav__logo i {
  color: #00adb5;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav__items {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #2d3138;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.nav__items--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  position: relative;
  text-decoration: none;
  color: #eeeeee;
  font-size: 2rem;
  padding: 0.5em 2em;
  margin: 1em 0;
}

.nav__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #00adb5;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  content: '';
}

.nav__item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.burger-btn {
  margin: 1rem 1rem;
  padding: 1rem;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 100;
}

.burger-btn:focus {
  outline: none;
  border: 1px solid #eeeeee;
  border-radius: 8px;
}

.burger-btn__box {
  position: relative;
  width: 35px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #eeeeee;
}

.burger-btn__bars {
  -webkit-transition: background-color .1s .15s;
  transition: background-color .1s .15s;
}

.burger-btn__bars::after {
  top: 10px;
  -webkit-transition: -webkit-transform .2s .15s;
  transition: -webkit-transform .2s .15s;
  transition: transform .2s .15s;
  transition: transform .2s .15s, -webkit-transform .2s .15s;
}

.burger-btn__bars::before {
  bottom: 10px;
  -webkit-transition: -webkit-transform .2s .15s;
  transition: -webkit-transform .2s .15s;
  transition: transform .2s .15s;
  transition: transform .2s .15s, -webkit-transform .2s .15s;
}

.burger-btn--active .burger-btn__bars {
  background-color: transparent;
}

.burger-btn--active .burger-btn__bars::after {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

.burger-btn--active .burger-btn__bars::before {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__first-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eeeeee;
}

.header__title {
  padding: 1em 0;
  font-size: 2.4rem;
  text-align: center;
  color: #ffffff;
}

.header__text {
  padding: .5em 0 2.5em;
  font-size: 1.6rem;
  text-align: center;
}

.header__call {
  margin: 0 auto;
}

.header__call i {
  font-size: 3rem;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  color: #00adb5;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(51, 143, 134, 0.404), 0 0 30px rgba(51, 143, 134, 0.404);
          box-shadow: 0 0 10px rgba(51, 143, 134, 0.404), 0 0 30px rgba(51, 143, 134, 0.404);
  -webkit-animation: bounce 2s 1s linear infinite;
          animation: bounce 2s 1s linear infinite;
}

.header__second-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__img {
  margin-top: 4rem;
  max-width: 80%;
}

.metamorphosis {
  background-color: #2d3138;
}

.metamorphosis__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.metamorphosis__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 5rem;
}

.metamorphosis__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.metamorphosis__img {
  max-width: 100%;
}

.metamorphosis__title {
  margin: 2em 0 1em;
  font-size: 2rem;
  text-align: center;
  color: #eeeeee;
}

.metamorphosis__text {
  text-align: center;
  color: #eeeeeed2;
}

.metamorphosis__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.metamorphosis__more-text {
  margin-top: .5em;
  text-align: center;
  color: #ffffff;
}

.metamorphosis__more-icon {
  font-size: 3.5rem;
  margin-top: .4em;
  padding: 0 .2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #eeeeee;
  cursor: pointer;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.metamorphosis__more-icon:hover {
  color: #00adb5;
}

.about__text {
  color: #eeeeee;
  padding-bottom: 1.5em;
  line-height: 1.2em;
}

.about__opinons {
  margin: 1.5em 0;
  text-align: center;
  text-transform: uppercase;
  color: #eeeeee;
}

.swiper-container {
  height: 28rem;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  background-color: #eeeeee;
  overflow: auto;
}

.swiper-slide__first-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-slide__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide__person-name {
  padding: 0 1em;
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.swiper-slide__person-img {
  width: 6rem;
}

.swiper-slide__icon {
  color: #00adb5;
}

.swiper-slide__text {
  font-size: 1.4rem;
  margin-top: 2em;
  color: #222831;
}

.price-list {
  background-color: #2d3138;
}

.price-list__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.price-list__card {
  margin: 2rem auto;
  padding: 1em;
  width: 100%;
  color: #eeeeee;
  text-align: center;
  border: 2px solid #eeeeeed2;
}

.price-list__card-title {
  font-size: 2.6rem;
}

.price-list__card-subtitle {
  font-size: 1.8rem;
  color: #eeeeeed2;
}

.price-list__card-price {
  margin: .5em 0;
  font-size: 2.6rem;
  font-weight: bold;
}

.price-list__card-description {
  font-size: 1.8rem;
}

.contact__contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
}

.contact__text {
  color: #eeeeee;
  margin-bottom: .5em;
}

.contact__text a {
  text-decoration: none;
  color: #00adb5;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contact__text a:hover {
  color: #eeeeee;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__social a {
  color: #eeeeee;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.contact__social a:hover {
  color: #00adb5;
}

.contact__social a i {
  font-size: 3rem;
  padding: .4em;
}

.footer {
  height: 5rem;
  border-top: 1px solid #eeeeeed2;
}

.footer__text {
  line-height: 5rem;
  text-align: center;
  color: #eeeeeed2;
}

@media (min-width: 360px) {
  .swiper-container {
    height: 24rem;
  }
  .price-list__card {
    border: 3px solid #eeeeeed2;
  }
}

@media (min-width: 576px) {
  .metamorphosis__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .metamorphosis__title {
    font-size: 2.2rem;
  }
  .metamorphosis__text {
    padding: 0 2rem;
  }
  .metamorphosis__img {
    max-width: 50%;
  }
  .metamorphosis__more-text {
    font-size: 1.8rem;
  }
  .metamorphosis__more-icon {
    font-size: 3.8rem;
  }
  .swiper-container {
    height: 26rem;
  }
  .swiper-slide__person-name {
    font-size: 1.8rem;
    padding: 0 1em;
  }
  .swiper-slide__person-img {
    width: 7rem;
  }
  .swiper-slide__icon {
    font-size: 2.4rem;
  }
  .swiper-slide__text {
    font-size: 1.6rem;
  }
  .price-list__card {
    width: 70%;
  }
  .price-list__card-title {
    font-size: 2.8rem;
  }
  .price-list__card-subtitle {
    font-size: 2rem;
    color: #eeeeeed2;
  }
  .price-list__card-price {
    font-size: 2.8rem;
  }
  .price-list__card-description {
    font-size: 2rem;
  }
  .contact__text {
    font-size: 2rem;
  }
  .contact__social a i {
    font-size: 4rem;
    padding: .4em;
  }
}

@media (min-width: 768px) {
  .nav__logo {
    font-size: 2.4rem;
  }
  .nav__items {
    position: unset;
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: none;
    transition: none;
  }
  .nav__item {
    font-size: 1.6rem;
    padding: 0.5em 1em;
    margin: 1em 1em;
  }
  .burger-btn {
    display: none;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    text-align: left;
    font-size: 2.6rem;
  }
  .header__text {
    text-align: left;
    font-size: 1.8rem;
  }
  .header__call i {
    font-size: 3.5rem;
  }
  .header__img {
    max-width: 100%;
    margin-top: unset;
  }
  .metamorphosis__title {
    font-size: 2.4rem;
  }
  .metamorphosis__text {
    font-size: 1.8rem;
  }
  .about__text {
    font-size: 1.8rem;
  }
  .about__opinons {
    font-size: 2rem;
  }
  .price-list__cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .price-list__card {
    margin: 0;
    max-width: 31%;
  }
}

@media (min-width: 992px) {
  .header__title {
    font-size: 3rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__call i {
    font-size: 4rem;
  }
  .metamorphosis__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .metamorphosis__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .metamorphosis__text {
    padding: 0 5rem;
  }
  .metamorphosis__img {
    max-width: 70%;
  }
  .metamorphosis__more-text {
    font-size: 2rem;
  }
  .metamorphosis__more-icon {
    font-size: 4rem;
  }
  .swiper-container {
    height: 28rem;
  }
  .swiper-slide__person-name {
    font-size: 2rem;
    padding: 0 1em;
  }
  .swiper-slide__person-img {
    width: 8rem;
  }
  .swiper-slide__icon {
    font-size: 2.6rem;
  }
  __text {
    margin-top: 1.5em;
    font-size: 1.8rem;
  }
  .price-list__card {
    max-width: 32%;
  }
}

@media (min-width: 1200px) {
  .header__title {
    font-size: 3.4rem;
  }
  .header__text {
    font-size: 2.4rem;
  }
  .header__call i {
    font-size: 4rem;
  }
  .about__text {
    font-size: 2rem;
  }
  .about__opinons {
    font-size: 2.2rem;
  }
  .metamorphosis__more-text {
    font-size: 2.2rem;
  }
  .metamorphosis__more-icon {
    font-size: 4.2rem;
  }
}
/*# sourceMappingURL=main.css.map */