@import './colors';
@import './components';
@import './mixins';
@import './animations';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: $main-color;
}

.spacer {
    width: 100%;
    height: 70px;
}

//NAVIGATION
nav {
    position: fixed;
    width: 100%;
    background-color: $secondary-color;
    box-shadow: 0 0 10px #000000;
    z-index: 100;

}

.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $secondary-color;
    height: 70px;


    &__logo {
        margin: auto 0;
        padding: 0 1em;
        font-size: 2rem;
        text-decoration: none;
        color: $text-color;
        z-index: 100;

        i {
            color: $turquoise-color;
            transform: rotate(90deg);
        }
    }

    &__items {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: $secondary-color;
        transform: translateX(-100%);
        transition: transform .5s;

        &--active {
            transform: translateX(0);
        }
    }



    &__item {
        position: relative;
        text-decoration: none;
        color: $text-color;
        font-size: 2rem;
        padding: 0.5em 2em;
        margin: 1em 0;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 100%;
            transform: scaleX(0);
            background-color: $turquoise-color;
            transition: transform .4s;
            content: '';
        }

        &:hover::before {
            transform: scaleX(1);
        }
    }
}

.burger-btn {
    margin: 1rem 1rem;
    padding: 1rem;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 100;

    &:focus {
        outline: none;
        border: 1px solid $text-color;
        border-radius: 8px;
    }

    &__box {
        position: relative;
        width: 35px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    &__bars,
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        content: "";
        background-color: $text-color;
    }

    &__bars {
        transition: background-color .1s .15s;

        &::after {
            top: 10px;
            transition: transform .2s .15s;
        }

        &::before {
            bottom: 10px;
            transition: transform .2s .15s;
        }
    }

    &--active {
        .burger-btn__bars {
            background-color: transparent;
        }

        .burger-btn__bars::after {
            transform: translateY(-10px) rotate(45deg);
        }

        .burger-btn__bars::before {
            transform: translateY(10px) rotate(-45deg);
        }
    }
}

// HEADER
.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__first-half {
        display: flex;
        flex-direction: column;
        color: $text-color;
    }

    &__title {
        padding: 1em 0;
        font-size: 2.4rem;
        text-align: center;
        color: $pure-white;
    }

    &__text {
        padding: .5em 0 2.5em;
        font-size: 1.6rem;
        text-align: center;
    }

    &__call {
        margin: 0 auto;

        i {
            font-size: 3rem;
            width: 2em;
            height: 2em;
            text-align: center;
            line-height: 2em;
            color: $turquoise-color;
            background-color: $pure-white;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(51, 143, 134, 0.404),
                0 0 30px rgba(51, 143, 134, 0.404);
            animation: bounce 2s 1s linear infinite;
        }
    }

    &__second-half {
        display: flex;
        justify-content: center;
    }

    &__img {
        max-width: 80%;
    }
}

// MAIN
// METAMORPHOSIS
.metamorphosis {
    background-color: $secondary-color;

    &__cards {
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0 5rem;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__img {
        max-width: 100%;
    }

    &__title {
        margin: 2em 0 1em;
        font-size: 2rem;
        text-align: center;
        color: $text-color;
    }

    &__text {
        text-align: center;
        color: $gray-text-color;
    }
}

// ABOUT
.about {
    &__text {
        color: $text-color;
        padding-bottom: 1.5em;
        line-height: 1.2em;
    }

    &__highlight {
        color: $turquoise-color;
    }
}

@media (min-width: 576px) {

    .metamorphosis {
        &__card {
            flex-direction: row;
            align-items: unset;
        }

        &__title {
            font-size: 2.2rem;
        }

        &__text {
            padding: 0 2rem;
        }

        &__img {
            max-width: 50%;
        }
    }
}

@media (min-width: 768px) {
    .nav {
        &__logo {
            font-size: 2.4rem;
        }

        &__items {
            position: unset;
            width: auto;
            height: auto;
            flex-direction: row;
            transform: translateX(0);
            transition: none;
        }

        &__item {
            font-size: 1.6rem;
            padding: 0.5em 1em;
            margin: 1em 1em;
        }
    }

    .burger-btn {
        display: none;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;

        &__first-half {
            justify-content: center;
            padding: 0 2rem;
        }

        &__title {
            text-align: left;
            font-size: 2.6rem;
        }

        &__text {
            text-align: left;
            font-size: 1.8rem;
        }

        &__call {
            i {
                font-size: 3.5rem;
            }
        }

        &__img {
            max-width: 100%;
        }
    }

    .metamorphosis {

        &__title {
            font-size: 2.4rem;
        }

        &__text {
            font-size: 1.8rem;
        }
    }

    .about {
        &__text {
            font-size: 1.8rem;
        }
    }
}

@media (min-width: 992px) {
    .header {
        &__title {
            font-size: 3rem;
        }

        &__text {
            font-size: 2.2rem;
        }

        &__call {
            i {
                font-size: 4rem;
            }
        }
    }

    .metamorphosis {
        &__cards {
            flex-direction: row;
        }

        &__card {
            flex-direction: column;
            align-items: center;
        }

        &__text {
            padding: 0 5rem;
        }

        &__img {
            max-width: 70%;
        }
    }
}

@media (min-width: 1200px) {
    .header {
        &__title {
            font-size: 3.4rem;
        }

        &__text {
            font-size: 2.4rem;
        }

        &__call {
            i {
                font-size: 4rem;
            }
        }
    }

    .about {
        &__text {
            font-size: 2rem;
        }
    }

}